@reference "../../../styles.css";

#navbar {
  @apply h-18 w-full py-4 pl-6 pr-8 bg-white border-b border-gray-100 fixed top-0 left-0 right-0 z-50;
}

#navbar-inner {
  @apply flex justify-items-center-safe;

  #navbar-logo img {
    @apply h-10;
  }

  #navbar-items {
    @apply flex items-center justify-end flex-1;
  }
}

#navbar-list {
  @apply space-x-6;

  li.navbar-item {
    @apply inline-block hover:cursor-pointer;
  }

  a.navbar-link {
    @apply inline-flex items-center text-sm font-semibold text-gray-200 hover:text-blue-base leading-none;

    &.active {
      @apply text-blue-base;
    }

    & > i {
      @apply me-1.5 text-xl;
    }
  }
}
