<nav id="navbar">
  <div id="navbar-inner">
    <a id="navbar-logo" routerLink="/">
      <img src="/logo.svg" alt="Logo" />
    </a>

    <div id="navbar-items">
      <ul id="navbar-list">
        <li class="navbar-item">
          <a
            class="navbar-link"
            routerLink="/certificados"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i class="ph ph-medal"></i>
            Lista de certificados
          </a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" routerLink="/certificados/novo" routerLinkActive="active">
            <i class="ph ph-circles-three-plus"></i>
            Gerar certificado
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
