@import 'tailwindcss';

:root {
  --gray-100: #e2e8f0;
  --gray-200: #64748b;
  --gray-300: #121621;
  --blue-base: #3b5ac2;
  --blue-dark: #1a2856;
  --danger: #e95f5f;
  --danger-dark: #d71d1d;
}

@theme inline {
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-blue-base: var(--blue-base);
  --color-blue-dark: var(--blue-dark);
  --color-danger: var(--danger);
  --color-danger-dark: var(--danger-dark);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }

  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-optical-sizing: auto;
  }
}
